#output
  height 400px
  overflow auto
  border 1px solid lightgray
  color white
  background black

/*body
  background white !important
  color black !important

@media (prefers-color-scheme: dark)
  body
    background black !important
    color white !important*/

#mapFrame
  width 100%
  height 100%

#mapModal
  .modal-body
    height 100%