#output {
  height: 400px;
  overflow: auto;
  border: 1px solid #d3d3d3;
  color: #fff;
  background: #000;
}
body {
  background: #fff !important;
  color: #000 !important;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #000 !important;
    color: #fff !important;
  }
}
